.myimg{
	width:250px;
	height:250px;
	object-fit:fill;
	border-radius:50%;
}
p {
	color: yellow;
}
#header {
	text-align: center;
	font-family: "Arial Black";
	color: yellow;
}
span {
	text-align: center;
	font-family: "Arial Black";
	color: yellow;
	margin: 5vw;
}
body {
	font-family: "Arial";
	color: yellow;
	background-color: red;
}
#description {
	text-align: center;
	margin: auto;
	width: 0 auto;
}
a {
	color: yellow;
}
h1 {
	font-family: "Times New Roman";
}
a {
	font-family: "Times New Roman";
}
.myimg {
	width:250px;
	height:250px;
	object-fit:fill;
	border-radius:50%;
}